<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/scroller.css">
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">


    <title>Impact</title>
</head>

<body>
    <div class="bodytype">


        <nav>

            <div class="logo">
                <img src="../static/logo.png" alt="">
            </div>

            <div class="tagline">
                <h2>
                    Impact
                </h2>
            </div>
            <div class="navbar">
                <a href="../views/index.html">
                    <li>Home</li>
                </a>
                <a href="../views/leaderboard.html">
                    <li>Leaderboard</li>
                </a>
                <a href="">
                    <li>Try Yourself</li>
                </a>

                <a href="">
                    <li>Contact</li>
                </a>
            </div>
        </nav>


        <div class="top">
            <div class="top-title">
                <h1>Our fight against Social Inequality</h1>
            </div>
            <div class="top-content">
                Social Inequality has been prevalent from ages. The situation just keeps
                getting worse as you’re reading this sentence. Join our alliance to help eradicate these issues and
                make this world a better place.
            </div>
            <button class="joinus">Join Us</button>

        </div>



        <div class="stats">
            <div class="stats-box">
                <div class="stats-head-box">
                    <h2>
                        We at Impact strive for Social justice and equality for all.
                    </h2>
                </div>
                <p class="stats-content">
                    Impact is a platform which helps to identify social issues in your locality and provide solutions to
                    them. We believe in being the change. We find people who empathize and collaborate together to
                    create a difference.
                </p>
                <div class="stat-value">
                    <div class="stat_inside">
                        <img src="" alt="">
                        <span>Value 1</span>
                    </div>
                    <div class="stat_inside">
                        <img src="" alt="">
                        <span>Value 2</span>
                    </div>
                    <div class="stat_inside">
                        <img src="" alt="">
                        <span>Value 3</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="titlesie">
            <h1>Various Social Inequality Issues</h1>
        </div>

        <div class="issue-box">
            <div class="sie">
                <div class="issue">
                    <h1>Domestic Violence</h1>
                </div>
                <div class="issue">
                    <h1>Racial Discrimination</h1>
                </div>
                <div class="issue">
                    <h1>Gender pay gaps</h1>
                </div>
            </div>
            <div class="sie2">
                <div class="issue">
                    <h1>Queer Discrimination</h1>
                </div>
                <div class="issue">
                    <h1>Child Abuse</h1>
                </div>
                <div class="issue">
                    <h1>Issue 6</h1>
                </div>
            </div>
            <div class="sie3">
                <div class="issue">
                    <h1>Issue 7</h1>
                </div>
            </div>
        </div>



        <div class="social-box">

            <div class="social-question-box">
                <div class="social-head-box">
                    <h2>
                        Are you a Righteous Citizen?
                    </h2>
                    <p class="social-content">
                        Many a times we unknowningly promote social inequality. Whether it's being a mute spectator or
                        implementing a common practice, we support the unethical. Fill this form to know whether you
                        practice social equality or not.
                    </p>
                    <div class="social-btn">
                        <button>FIND OUT NOW!</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="compete">
            <div class="compete_box">
                <div class="compete_head_box">
                    <h2>Be the Change</h2>
                </div>
                <div class="compete_content">
                    We are always in search of people who geniunely care for the society. Fill this form to help the unfortunate. Your small help can make a big difference.
                </div>
                <div class="submit_btn">
                    <button> HELP NOW </button>
                </div>
            </div>
        </div>


        <div class="our_team">
            <div class="team-head">
                <h2>Our Team</h2>
            </div>

            <div class="team_members">

                <div class="member1">
                    <div class="image_person">
                        <img src="../static/Pruthvi_final.jpeg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Pruthviraj Patil</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Developer</h5>
                    </div>
                    <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/vatsal_final.jpg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Vatsal Gandhi</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Developer</h5>
                    </div>
                    <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/manasvi.jpg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Manasvi Shetty</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Designer</h5>
                    </div>
                    <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/medhansh_final.png" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Medhansh Garg</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Content Writer</h5>
                    </div>
                    <!-- <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div> -->
                </div>

            </div>



        </div>


        <footer>
            <div class="top">
                <div class="impact-headline">
                    <h2>Impact</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, debitis.</p>
                </div>
            </div>
            <div class="bottom"></div>
        </footer>

    </div>

</body>

</html>