<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="../static/scroller.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../static/kyh logo.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="../static/footer.css"> -->


    <title>Impact</title>
</head>

<body>
    <div class="bodytype">


        <nav>

            <div class="logo_name">
            
            <div class="logo">
                <a href="../views/index.html"><img src="../static/kyh logo final.png" alt="logo"></a>
            </div>

            <div class="tagline">
                <a href="../views/index.html">
                <h2>
                    Impact
                </h2>
                </a>
            </div>
            </div>

            <div class="navbar">
                <a href="../views/index.html">
                    <li>Home</li>
                </a>
                <a href="../views/leaderboard.html">
                    <li>Leaderboard</li>
                </a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7bTPi42VIl_l_dG6Mzb15nInpRLZlhKcVUe6HTeQUskibgw/viewform?usp=sf_link">
                    <li>Try Yourself</li>
                </a>

                <a href="../views/contact.html">
                    <li>Contact</li>
                </a>
            </div>
        </nav>


        <div class="top">
            <div class="top-title">
                <h1>Our fight <br> against  Social<br>  Inequality</h1>
            </div>
            <div class="top-content">
                Social Inequality has been prevalent from ages. The situation just keeps
                getting worse as you’re reading this sentence. Join our alliance to help eradicate these issues and
                make this world a better place.
            </div>
            <button class="joinus"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7bTPi42VIl_l_dG6Mzb15nInpRLZlhKcVUe6HTeQUskibgw/viewform?usp=sf_link">Join Us</a></button>

        </div>

        <div class="leaderboard">
            <section class="main-content">
                <div class="container">
                    <h1>Top Gainers</h1>
                    <br>
                    <br>
        
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="leaderboard-card">
                                <div class="leaderboard-card__top">
                                    <h3 class="text-center">IMPACT-30</h3>
                                </div>
                                <div class="leaderboard-card__body">
                                    <div class="text-center">
                                        <img src="../static/user2.jpg" class="circle-img mb-2" alt="User Img">
                                        <h5 class="mb-0">Sandeep Sandy</h5>
                                        <p class="text-muted mb-0">@sandeep</p>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span><i class="fa fa-map-marker"></i> India</span>
                                            <button class="btn btn-outline-success btn-sm">Congratulate</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="leaderboard-card leaderboard-card--first">
                                <div class="leaderboard-card__top">
                                    <h3 class="text-center">IMPACT-100</h3>
                                </div>
                                <div class="leaderboard-card__body">
                                    <div class="text-center">
                                        <img src="../static/user1.jpg" class="circle-img mb-2" alt="User Img">
                                        <h5 class="mb-0">Kiran Acharya</h5>
                                        <p class="text-muted mb-0">@kiranacharyaa</p>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span><i class="fa fa-map-marker"></i> India</span>
                                            <button class="btn btn-outline-success btn-sm">Congratulate</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="leaderboard-card">
                                <div class="leaderboard-card__top">
                                    <h3 class="text-center">IMPACT-20</h3>
                                </div>
                                <div class="leaderboard-card__body">
                                    <div class="text-center">
                                        <img src="../static/user3.jpg" class="circle-img mb-2" alt="User Img">
                                        <h5 class="mb-0">John doe</h5>
                                        <p class="text-muted mb-0">@johndoe</p>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span><i class="fa fa-map-marker"></i> India</span>
                                            <button class="btn btn-outline-success btn-sm">Congratulate</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
                    <h4>All Users</h4>
        
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Score</th>
                                <th>Location</th>
                                <th>Email</th>
                                <th>Congratulate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="../static/user1.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">Kiran Acharya</h5>
                                            <p class="text-muted mb-0">@kiranacharyaa</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">IMPACT-100</h4>
                                    </div>
                                </td>
                                <td>India</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="../static/user2.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">Sandeep Sandy</h5>
                                            <p class="text-muted mb-0">@sandeep</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">IMPACT-30</h4>
                                    </div>
                                </td>
                                <td>India</td>
                                <td>sandeep@sandeepmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="../static/user3.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">John Doe</h5>
                                            <p class="text-muted mb-0">@johndoe</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">IMPACT-20</h4>
                                    </div>
                                </td>
                                <td>India</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="../static/user4.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">John Noakes</h5>
                                            <p class="text-muted mb-0">@johnnoakes</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">IMPACT-10</h4>
                                    </div>
                                </td>
                                <td>India</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="../static/user5.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">Tom harry</h5>
                                            <p class="text-muted mb-0">@tomharry</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">IMPACT-0</h4>
                                    </div>
                                </td>
                                <td>India</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>








        <div class="our_team">
            <div class="team-head">
                <h2>Our Team</h2>
            </div>

            <div class="team_members">

                <div class="member1">
                    <div class="image_person">
                        <img src="../static/Pruthvi_final.jpeg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Pruthviraj Patil</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Developer</h5>
                    </div>
                    <div class="social">
                        <a href="https://twitter.com/pruthvi905" class="fa fa-twitter reach"></a>
                        <a href="https://www.linkedin.com/in/pruthviraj-patil-a76962210/" class="fa fa-linkedin reach"></a>
                        <a href="http://instagram.com/pruthvi905" class="fa fa-instagram reach"></a>
                        <a href="https://github.com/pruthvirajp04" class="fa fa-github reach"></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/vatsal_final.jpg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Vatsal Gandhi</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Developer</h5>
                    </div>
                    <div class="social">
                        <a href="https://twitter.com/Vatsal_Gandhi9" class="fa fa-twitter reach"></a>
                        <a href="https://www.linkedin.com/in/vatsal-gandhi-20b60a213/" class="fa fa-linkedin reach"></a>
                        <a href="https://twitter.com/Vatsal_Gandhi9" class="fa fa-instagram reach"></a>
                        <a href="https://github.com/Vatsal-01000111" class="fa fa-github reach"></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/manasvi.jpg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Manasvi Shetty</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Designer</h5>
                    </div>
                    <div class="social">
                        <a href="https://twitter.com/ManasviShetty7?t=elIYw5xL6InXUKfLxN47Ww&s=09" class="fa fa-twitter reach"></a>
                        <a href="https://www.linkedin.com/in/manasvi-shetty-6593a5212" class="fa fa-linkedin reach"></a>
                        <a href="https://www.instagram.com/shettymanasvi_03/" class="fa fa-instagram reach"></a>
                        <a href="https://github.com/Manasvi-Shetty" class="fa fa-github reach"></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/medhansh_final.png" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Medhansh Garg</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Content Writer</h5>
                    </div>
                    <div class="social">
                        <a href="https://twitter.com/medhansh2002" class="fa fa-twitter"></a>
                        <a href="https://www.linkedin.com/in/medhanshgarg/" class="fa fa-linkedin"></a>
                        <a href="https://instagram.com/mgarg22/" class="fa fa-instagram"></a>
                        <a href="https://github.com/medhanshgarg" class="fa fa-github"></a>
                        

                        
                      
                    </div>
                </div>

            </div>



        </div>


        <footer>
            <div class="top-foot">
             <div class="impacthead">
                <h2>Impact</h2>
                <p style="width:600px; color:white;">Impact is a platform which helps to identify social issues in your locality and provide solutions to them. We believe in being the change. We find people who empathize and collaborate together to create a difference . Check out the instagram page   
                </p>
                <p>
                 
                    <a href="https://www.instagram.com/impact.globe/" class="fa fa-instagram" id="insta-logo" target="_blank"></a>
                </p>
             </div>
             <div class="our-services">
                <h2>Our Services</h2>
                <a href="../views/leaderboard.html"><li>Leaderboard</li></a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf7bTPi42VIl_l_dG6Mzb15nInpRLZlhKcVUe6HTeQUskibgw/viewform?usp=sf_link"><li>Try Yourself</li></a>
                <a href="../views/contact.html"><li>Contact Us</li></a>
             </div>
            </div>
            <div class="bottom-foot">
                <h4>
                    © Copyright Impact. All Rights Reserved
                    Designed and Coded by <a href="" style="text-decoration: none;"> Vatsal Gandhi </a> 
                    and <a href="" style="text-decoration: none;"> Pruthviraj Patil  </a>. 
                    Assistance and Content by <a href="" style="text-decoration: none;"> Manasvi Shetty </a>
                    and <a href="" style="text-decoration: none;"> Medhansh Garg </a>
                    
                </h4>
            </div>
        </footer>
        </div>
    
    <script src="./views/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>