<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="../static/scroller.css">
    <link rel="shortcut icon" href="../static/logo.png" type="image/x-icon">


    <title>Impact</title>
</head>

<body>
    <div class="bodytype">


        <nav>

            <div class="logo">
                <img src="../static/logo.png" alt="">
            </div>

            <div class="tagline">
                <h2>
                    Impact
                </h2>
            </div>
            <div class="navbar">
                <a href="../views/index.html">
                    <li>Home</li>
                </a>
                <a href="">
                    <li>Leaderboard</li>
                </a>
                <a href="">
                    <li>Try Yourself</li>
                </a>

                <a href="">
                    <li>Contact</li>
                </a>
            </div>
        </nav>


        <div class="top">
            <div class="top-title">
                <h1>Our fight against Social Inequality</h1>
            </div>
            <div class="top-content">
                Social Inequality has been prevalent from ages. The situation just keeps
                getting worse as you’re reading this sentence. Join our alliance to help eradicate these issues and
                make this world a better place.
            </div>
            <button class="joinus">Join Us</button>

        </div>

        <div class="leaderboard">
            <section class="main-content">
                <div class="container">
                    <h1>Top Gainers</h1>
                    <br>
                    <br>
        
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="leaderboard-card">
                                <div class="leaderboard-card__top">
                                    <h3 class="text-center">$1,051</h3>
                                </div>
                                <div class="leaderboard-card__body">
                                    <div class="text-center">
                                        <img src="img/user2.jpg" class="circle-img mb-2" alt="User Img">
                                        <h5 class="mb-0">Sandeep Sandy</h5>
                                        <p class="text-muted mb-0">@sandeep</p>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span><i class="fa fa-map-marker"></i> Bangalore</span>
                                            <button class="btn btn-outline-success btn-sm">Congratulate</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="leaderboard-card leaderboard-card--first">
                                <div class="leaderboard-card__top">
                                    <h3 class="text-center">$1,254</h3>
                                </div>
                                <div class="leaderboard-card__body">
                                    <div class="text-center">
                                        <img src="img/user1.jpg" class="circle-img mb-2" alt="User Img">
                                        <h5 class="mb-0">Kiran Acharya</h5>
                                        <p class="text-muted mb-0">@kiranacharyaa</p>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span><i class="fa fa-map-marker"></i> Bangalore</span>
                                            <button class="btn btn-outline-success btn-sm">Congratulate</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="leaderboard-card">
                                <div class="leaderboard-card__top">
                                    <h3 class="text-center">$1,012</h3>
                                </div>
                                <div class="leaderboard-card__body">
                                    <div class="text-center">
                                        <img src="img/user3.jpg" class="circle-img mb-2" alt="User Img">
                                        <h5 class="mb-0">John doe</h5>
                                        <p class="text-muted mb-0">@johndoe</p>
                                        <hr>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span><i class="fa fa-map-marker"></i> Bangalore</span>
                                            <button class="btn btn-outline-success btn-sm">Congratulate</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
                    <h4>All Users</h4>
        
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Email</th>
                                <th>Congratulate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="img/user1.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">Kiran Acharya</h5>
                                            <p class="text-muted mb-0">@kiranacharyaa</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">$1,253</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
                                    </div>
                                </td>
                                <td>Bangalore</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="img/user2.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">Sandeep Sandy</h5>
                                            <p class="text-muted mb-0">@sandeep</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">$1,051</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
                                    </div>
                                </td>
                                <td>Bangalore</td>
                                <td>sandeep@sandeepmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="img/user3.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">John Doe</h5>
                                            <p class="text-muted mb-0">@johndoe</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">$1,012</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
                                    </div>
                                </td>
                                <td>Bangalore</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="img/user4.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">John Noakes</h5>
                                            <p class="text-muted mb-0">@johnnoakes</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">$986</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
                                    </div>
                                </td>
                                <td>Bangalore</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="img/user5.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">Tom harry</h5>
                                            <p class="text-muted mb-0">@tomharry</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">$951</h4><small class="text-success"><i class="fa fa-arrow-up"></i>5%</small>
                                    </div>
                                </td>
                                <td>Bangalore</td>
                                <td>kiran@kiranmail.com</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Congratulate</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>








        <div class="our_team">
            <div class="team-head">
                <h2>Our Team</h2>
            </div>

            <div class="team_members">

                <div class="member1">
                    <div class="image_person">
                        <img src="../static/Pruthvi_final.jpeg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Pruthviraj Patil</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Developer</h5>
                    </div>
                    <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/vatsal_final.jpg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Vatsal Gandhi</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Developer</h5>
                    </div>
                    <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/manasvi.jpg" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Manasvi Shetty</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Web Designer</h5>
                    </div>
                    <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div>
                </div>
                <div class="member1">
                    <div class="image_person">
                        <img src="../static/medhansh_final.png" alt="pp">
                    </div>
                    <div class="team_member_name">
                        <h2>Medhansh Garg</h2>
                    </div>
                    <div class="team_member_work">
                        <h5 style="font-size: 18px;">Content Writer</h5>
                    </div>
                    <div class="social">
                        <a href=""><i class="twitter"></i></a>
                        <a href=""><i class="facebook"></i></a>
                        <a href=""><i class="instagram"></i></a>
                        <a href=""><i class="linkedin"></i></a>
                    </div>
                </div>

            </div>



        </div>


        <div class="footer">

        </div>

    </div>

    <script src="./views/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>