

  
nav{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
     display: flex;
     background-color: #0000006d;
     justify-content: space-between;
     height: 100px;
 }
 
 .logo_name{
     margin: 6px;
     margin-left: 30px;
     display: flex;
     flex-direction: row;
 }
 
 .tagline h2{
     margin-top: 12px;
     text-align: center;
     vertical-align: middle;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 60px;
     color: white;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: black;
 }
 
 
 nav a {
     text-decoration: none;
 }
 .navbar{
     /* position: fixed; */
     margin-top: 6px;
     display: flex;
 }

 nav a li{
     margin-top: 32px;
     margin-right: 18px;
     margin-left: 5px;
     font-weight:bolder;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 30px;
     list-style: none;
     color: white;
     -webkit-text-stroke-width: 1.5px;
     -webkit-text-stroke-color: black;
 }
 img{
     width: 100px;
     height: 80px;
 }
 
 
 .top{
    /* opacity: 0.6; */
    margin-top: 170px;
    margin-bottom:100px ;
    background-image: url(../static/heartcol.png);
    background-repeat: no-repeat;
    background-position: center left;
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 30px; */
    z-index: -2;
}
.top button{
    text-align: center;
    color: white;
    border: 1px solid #E81F76;
    background-color: #E81F76;
    transition: all .3s linear;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.top button a {
    color: azure;
    text-decoration: none;
    font-size: 1.3rem;
    
}

.top-title{
    color: #000000;
    margin-left: 15px;
    font-size: 35px;
    padding-bottom: 5px;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255); */
}
.top-title h1{
    margin-bottom: 0px;

}

.top-content{
    margin-left: 15px;
    font-size: 20px;
    width: 370px;
}


.joinus{
    margin-top: 10px;
    color: wheat;
    margin-left: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    color: white;
    border:1px solid #E81F76;
    background-color: #E81F76;
    transition: all .3s linear;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
}

.joinus:hover{
    color: white;
    background-color: black;
    border:1px solid black;
}


 
 
 
 

 


 
 .our_team{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .team_members{
     display: flex;
 }
 
 .member1{
     border-radius: 8px;
     background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 10px 1px grey;
 }
 .team_member_name h2{
     margin-top: 20px;
     margin-bottom: 5px;
 }
 
 .team_member_work h5{
     margin-top: 5px;
     margin-bottom: 20px;
 }
 
 .image_person{
     border-radius: 8px;
     box-shadow: 1px 1px 5px 1px grey;
 }
 
 .member1{
     display: block;
     text-align: center;
 }
 
 .image_person img{
     width: 250px;
     height: 250px;
     border-radius: 10px;
 }
 body{
     margin : 0;
 }
 .fa{
 
     box-shadow: 0.5px 0.5px 4px 0.5px;
       color: black;
       padding: 15px;
       font-size: 30px;
       width: 10px;
       height: 15px;
       border-radius: 10%;
       text-align: center;
       text-decoration: none;
       margin:3px  ;
 }
 
   
   
 .fa:hover {
     opacity: 0.7;
 }
 .contact-box{
display: flex;
flex-direction: column;


 }

 input[type=text],[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    font-size: 1.5rem;
 
    border: 1px solid rgb(185, 61, 61);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
  }
  
  input[type=submit], input[type=reset] {
    background-color: #d63c27;
    color: 562210;
    padding: 12px 20px;
    border: none;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #6a5852;
  }
  input[type=reset]:hover {
    background-color: #6a5852;
  }
  .main-form-box {
   

    border-radius: 5px;
    background-color: #ddafaf;
    padding: 20px;
  }
  .contact-head{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-content{
    margin: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.our_team{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team_members{
    display: flex;
}

.member1{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
   padding: 20px;
   margin: 10px;
   box-shadow: 1px 1px 10px 1px grey;
}
.team_member_name h2{
    margin-top: 20px;
    margin-bottom: 5px;
}

.team_member_work h5{
    margin-top: 5px;
    margin-bottom: 20px;
}

.image_person{
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px grey;
}

.member1{
    display: block;
    text-align: center;
}

.image_person img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}