footer{
    height: 23rem;
    border-top: 1px solid black;
    margin-top: 10rem;
    background: #000000;
    color: azure;  
}
  .top-foot{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: azure;  
  }
  .impacthead h2{
    font-family: cursive;
  }
  .impacthead p a{
    color:white;
  }

  .our-services h2{
    font-family: cursive;
  }
  .our-services a{
    text-decoration: none;
  }
  .our-services a li{
    font-size: 1.2rem;
    color: #ffffff;
    list-style: none;
  }
  .bottom-foot{
    padding: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom-foot h4 a{
    color:white;
  }
  #insta-logo{
    width: 60px;
  }
  .bottom-foot a{
    color: rgb(175, 105, 19);
    text-decoration: none;

  }
  .impacthead p{
    font-size: 19px;
    color: #020202;
  }