

  
nav{
   position: fixed;
   overflow: hidden;
   top: 0;
   left: 0;
   right: 0;
display: flex;
background-color: #1f1fe5b1;
justify-content: space-between;
}
nav a {
    text-decoration: none;
}
.navbar{
    /* position: fixed; */
    display: flex;
}
nav a:hover{
text-decoration: underline;
}
nav a li{
    margin-top: 32px;
    margin-right: 18px;
    margin-left: 5px;
    font-family: fantasy;
    color: rgb(29, 7, 7);
    font-size: 21px;
    list-style: none;
}
img{
   
    width: 100px;
    height: 80px;
}
.tagline h2{
    margin-top: 34px;
    font-family: Arial, Helvetica, sans-serif;
}


.top{
    margin-top: 100px;
    background-image: url(../static/siebg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
}

.top-title{
    margin-left: 30px;
    font-size: 40px;
    padding-bottom: 5px;
}
.top-title h1{
    margin-bottom: 0px;
}

.top-content{
    margin-left: 40px;
    font-size: 20px;
    width: 500px;
}

.joinus{
    margin-left: 30px;
    width: 120px;
    height: 30px;
    border-radius: 50px;
}

.stats{
        display: flex;
        justify-content: center;
        text-align: center;
}

.stats-box{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 70%;
   padding: 20px;
   margin: 10px;
   box-shadow: 1px 1px 10px 1px grey;
}

.stats-content{
    padding-left: 80px;
    padding-right: 80px;
}

.stats-head-box h2{     font-family: cursive;
    font-size: 40px;
    font-weight: 800;
}

.stat-value{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

.stat_inside{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}



.titlesie{
    height: 50px;
    
    text-align: center;
}
.titlesie h1{
    font-family: cursive;
    font-size: 40px;
}

.issue-box{
   
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sie{
    display: flex;    
}
.sie2{
    display: flex;    
}
.sie3{
    display: flex;
    justify-content: center;
}
.issue{
    background-color: rgba(15, 15, 165, 0.655);
    height: 200px;
    width: 300px;
    margin: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.social-box{
    display: flex;
    justify-content: center;
    text-align: center;
}
.social-question-box{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 70%;
   padding: 20px;
   margin: 10px;
   box-shadow: 1px 1px 10px 1px grey;

}

.social-content{
    padding-left: 80px;
    padding-right: 80px;
}

.social-head-box h2{
    font-family: cursive;
    font-size: 40px;
    font-weight: 800;
}

.social-question-box button{
    text-align: center;
    color: white;
    border:1px solid #E81F76;
    background-color: #E81F76;
    transition: all .3s linear;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.social-question-box button:hover{
    color: white;
    background-color: black;
    border:1px solid black;
}
.social-btn{
display: flex;
justify-content: center;
align-items: center;
}

.compete{    font-family: cursive;
    display: flex;
    justify-content: center;
    text-align: center;
}
.compete_box{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 70%;
   padding: 20px;
   margin: 10px;
   box-shadow: 1px 1px 10px 1px grey;

}

.compete_content{
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

.compete_head_box h2{
    font-size: 40px;
    font-weight: 800;
}

.submit_btn button{
    text-align: center;
    color: white;
    border:1px solid #E81F76;
    background-color: #E81F76;
    transition: all .3s linear;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.submit_btn button:hover{
    color: white;
    background-color: black;
    border:1px solid black;
}
.submit_btn{
display: flex;
justify-content: center;
align-items: center;
}

.our_team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team_members{
    display: flex;
}

.member1{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
   padding: 20px;
   margin: 10px;
   box-shadow: 1px 1px 10px 1px grey;
}
.team_member_name h2{
    margin-top: 20px;
    margin-bottom: 5px;
}

.team_member_work h5{
    margin-top: 5px;
    margin-bottom: 20px;
}

.image_person{
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px grey;
}

.member1{
    display: block;
    text-align: center;
}

.image_person img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
body{
    margin : 0;
}
.fa {
  box-shadow: 0.5px 0.5px 4px 0.5px;
  color: black;
  padding: 15px;
  font-size: 30px;
  width: 10px;
  height: 15px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  margin:3px  ;
}

  
  
.fa:hover {
    opacity: 0.7;
}
